<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkypeBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SkypeBot.plugins.PluginSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <connectionStrings />
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UrbanSearchBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.urbandictionary.com/soap" binding="basicHttpBinding"
                bindingConfiguration="UrbanSearchBinding" contract="UrbanDictionary.UrbanSearchPortType"
                name="UrbanSearchPort" />
        </client>
    </system.serviceModel>
    <userSettings>
        <SkypeBot.Properties.Settings>
            <setting name="ShowMinimizeHelpBubble" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateCheckInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UseWhitelist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerboseConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Crashed" serializeAs="String">
                <value>False</value>
            </setting>
        </SkypeBot.Properties.Settings>
        <SkypeBot.plugins.PluginSettings>
            <setting name="NextQuoteID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YoutubeIterations" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="YoutubeCacheSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutomaticTransformations" serializeAs="String">
                <value>True</value>
            </setting>
        </SkypeBot.plugins.PluginSettings>
    </userSettings>
    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="debug.log" />
            <appendToFile value="true" />
            <maximumFileSize value="250KB" />
            <maxSizeRollBackups value="5" />   
            <rollingStyle value="Size" />
            <staticLogFileName value="true" />

            <layout type="log4net.Layout.PatternLayout">
                <header value="[[[ START OF LOG ]]]&#xD;&#xA;" />
                <footer value="[[[ END OF LOG ]]]&#xD;&#xA;" />
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
            </layout>
        </appender>
        <appender name="FormConsoleAppender" type="SkypeBot.FormConsoleAppender">
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="RollingFileAppender" />
            <appender-ref ref="FormConsoleAppender" />
        </root>
    </log4net>
</configuration>