<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkypeBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SkypeBot.plugins.PluginSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UrbanSearchBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.urbandictionary.com/soap" binding="basicHttpBinding"
                bindingConfiguration="UrbanSearchBinding" contract="UrbanDictionary.UrbanSearchPortType"
                name="UrbanSearchPort" />
        </client>
    </system.serviceModel>
    <userSettings>
        <SkypeBot.Properties.Settings>
            <setting name="ShowMinimizeHelpBubble" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateCheckInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UseWhitelist" serializeAs="String">
                <value>False</value>
            </setting>
        </SkypeBot.Properties.Settings>
        <SkypeBot.plugins.PluginSettings>
            <setting name="NextQuoteID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="YoutubeIterations" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="YoutubeCacheSize" serializeAs="String">
                <value>3</value>
            </setting>
        </SkypeBot.plugins.PluginSettings>
    </userSettings>
</configuration>